<div *ngIf="recipes !== undefined; else noRecipes">
  <h4>Your recipes</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom de la Recette</th>
      <th scope="col">Durée</th>
      <th scope="col">Score</th>
      <th scope="col">Description</th>
      <th scope="col">Budget</th>
      <th scope="col">Recette</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let recipe of recipes">
      <td><img src="{{recipe.urlPicture}}" alt="recipeImage"></td>
      <td><a routerLink="/recipe/{{recipe.id}}">
        {{recipe.name}}
      </a></td>
      <td>{{recipe.duration}}</td>
      <td>{{recipe.score}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.budget}}</td>
    </tbody>
  </table>
</div>

<ng-template #noRecipes>
  No Recipes has been created yet.
</ng-template>
